{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid mt-5">	
	<div class="row">
		<div class="col-md">
			<h1>Name: {{ account.name }}</h1>
			<h3>Email: {{ account.email }}</h3>
			{% if user.id != account.id %}
				{% if account in user.friends.all %}
					<button class="btn btn-dark btn-block" id="add-friend-btn" value="{{ account.id }}">Remove Friend</button>
				{% else %}
					<button class="btn btn-dark btn-block" id="add-friend-btn" value="{{ account.id }}">Add Friend</button>
				{% endif %}
			{% endif %}
		</div>
		<div class="col-md">
			<h2>Likes:</h2>
			<ul class="list-group">
				{% for show in account.likes.all %}
					<li class="list-group-item">
						{{ show.title }}
						{{ show.release_year }}
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-md">
			<h2>Friends:</h2>
			<ul class="list-group">
				{% for user in account.friends.all %}
					<li class="list-group-item">
						{{ user.name }}
					</li>
				{% endfor %}
			</ul>
		</div>
		</div>
	</div>
</div>

{% endblock %}