{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid">
	<div class="col-sm">
		<h1>Username: {{ account.name }}</h1>
		<h3>Email: {{ account.email }}</h3>
		<h2>Likes:</h2>
		<ul class="list-group">
		{% for show in account.likes.all %}
			<li class="list-group-item">
			{{ show.title }}
			{{ show.release_year }}
			</li>
		{% endfor %}
		</ul>

		{% if user.id != account.id %}
			{% if account in user.friends.all %}
				<button class="btn btn-dark btn-block" id="add-friend-btn" value="{{ account.id }}">Remove Friend</button>
			{% else %}
				<button class="btn btn-dark btn-block" id="add-friend-btn" value="{{ account.id }}">Add Friend</button>
			{% endif %}
		{% endif %}
	</div>
</div>

{% endblock %}