{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1>Username: {{ account.name }}</h1>
<h3>Email: {{ account.email }}</h3>
<h2>Likes:</h2>
{% for show in account.likes.all %}
<ul class="list-group">
	<li class="list-group-item">
	{{ show.title }}
	{{ show.release_year }}
	</li>
</ul>
{% endfor %}

{% if user.id != account.id %}
	{% if account in user.friends.all %}
		<form method="POST">
			{% csrf_token %}
			<input type="hidden" name="add_friend" value="{{ account.id }}">{{ form|crispy }}<button type="submit"
		    class="btn btn-dark btn-block">Remove Friend</button>
	{% else %}
		<form method="POST">
			{% csrf_token %}
			<input type="hidden" name="add_friend" value="{{ account.id }}">{{ form|crispy }}<button type="submit"
		    class="btn btn-dark btn-block">Add Friend</button>
		</form>
	{% endif %}
{% endif %}

{% endblock %}