body {
    background-color: #F0F0F0;
}

a {
	color: #333333;
	transition: color 1s;
}

tr {
	cursor: pointer;
}

a:hover {
	color: red;
}

#navbarDropdownMenuLink-333:hover {
	cursor: pointer;
}

#show-search-bar {
	padding: 10px 0px 25px 10px;
}

#navbar-logo {
	color: red;
	font-size: 2rem;
	margin-left: 4vw;
}

.btn-dark {
	margin-bottom: 10px;
	max-width: 400px;
}

#detail-image {
	max-width: 450px;
}

#results-table {
	display: none;
}

.nav > .nav-item > .active { 
    background-color: gray; 
}


