body {
    background-color: #F0F0F0;
}

a {
	color: #333333;
	transition: color 1s;
}

tr {
	cursor: pointer;
}

a:hover {
	color: red;
}

.card {
	max-width: 450px;
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
	margin-top: 5rem;
}

.nav-item {
	max-width: 400px;
}

#detail-text {
	font-size: 1.1rem;
	max-width: 450px;
	background-color: white;
}


#navbarDropdownMenuLink-333:hover {
	cursor: pointer;
}

#show-search-bar {
	padding: 10px 0px 25px 10px;
}

#navbar-logo {
	color: red;
	font-size: 2rem;
	margin-left: 4vw;
}

.btn-dark {
	margin-bottom: 10px;
	max-width: 400px;
}

#detail-image {
	max-width: 450px;
}

#display_all {
	color: white;
	margin-top: 30px;
}

#results-table {
	display: none;
}

.nav > .nav-item > .active { 
    background-color: gray; 
}

.rec-type {
	font-size: 1.1rem;
}

