{%  extends 'base.html' %}
{% load templatetags %}
{% load static %}
{% block content %}

<h1>Search Shows</h1>
<section class="site_filter">
	<div class="container-fluid">
		<div class="row">
			<form method="GET" class="form-row">
				<div class="form-group col-sm2">
					{{ form.title.errors }}
					<label for="{{ form.title.id_for_label }}">Search by title</label>
					{{ form.title }}
				</div>
				<div class="form-group col-sm">
					{{ form.category.errors }}
					<label for="{{ form.title_search.id_for_label }}">Category</label>
					{{  form.category }}
				</div>
				<div class="form-group col-sm">
					{{ form.country.errors }}
					<label for="country">Country</label>
					{{ form.country }}
				</div>
				<div class="form-group col-sm">
					{{ form.year.errors }}
					<label for="{{ form.title_search.id_for_label }}">Year</label>
					{{ form.year }}
				</div>
        <div class="form-group col my-auto">
          <button class="btn btn-secondary btn-block" type="submit">Search</button>
        </div>
        <div class="form-group col my-auto">
          <a href="{% url 'show_search' %}"><button class="btn btn-secondary btn-block" id="display_all">Display all</button></a>
        </div>
			</form>
		</div>
	</div>
</section>
<br />
<section>
	<div class="container-fluid" id="search-results">
		<div id="result-count" class="text-right">
			<span class="font-weight-bold">{{ page_obj.paginator.count }}</span> results found.
		</div>
		<div class="row">
			{% if object_list|length == 0 %}
        <div id="no_results">
					<h5>No results found</h5>
				</div>
      {% else %}
        {% for show in object_list %}
          <div class="thumbnail" id="{{ show.id }}" data-target="modal-popup{{ show.id }}">
            <center><h5>{{ show.title }}</h5></center>
            <img src="{{ show.thumbnail_url }}">
          </div>
          <div class="modal" id="modal-popup{{ show.id }}">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="show-title">{{ show.title }}</h2>
                <span class="close-btn">&times;</span>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md my-auto">
                    <img class ="fullsize-image img-fluid" src="{{ show.image_url }}">
                  </div>
                  <div class="col-md">
                    {% if show in user.likes.all %}
                      <i class="fas fa-heart fa-lg like-button" value="{{ show.show_id }}"></i>
                    {% else %}
                      <i class="far fa-heart fa-lg like-button" value="{{ show.show_id }}"></i>
                    {% endif %}
                		<h5>Title: {{ show.title }}</h5>
                    <h5>Year: {{ show.release_year }}</h5>
                    <h5>Director: {{ show.director }}</h5>
                    <h5>Rating: {{ show.rating }}</h5>
                    <h5>Duration: {{ show.duration }}</h5>
                    <h5>Description: {{ show.description }}</h5>
                    <h5><a id="netflix-link" href="https://www.netflix.com/title/{{ show.show_id }}" target="_blank">Watch on Netflix</a></h5>

                  	{% if show in user.likes.all %}
											<button class="btn btn-dark btn-block like-button" value="{{ show.show_id }}">Remove from likes</button>
										{% else %}
											<button class="btn btn-dark btn-block like-button" value="{{ show.show_id }}">Like</button>
										{% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
			</table>
		</div>
		<div class="row justify-content-center">
      <nav aria-label="navigation">
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">
                <button class="btn btn-secondary" id="previous">Previous</button>
            </li>
          {% else %}
            <li class="page-item">
              <button class="btn btn-secondary disabled" id="previous">Previous</button>
            </li>
          {% endif %}
          {% if page_obj.has_next %}
            <li class="page-item pull-right">
              <a href="?{% url_replace request 'page' page_obj.next_page_number %}">
                <button class="btn btn-secondary" id="next">Next</button>
              </a>
            </li>
          {% else %}
            <li class="page-item pull-right">
              <button class="btn btn-secondary disabled" id="next">Next</button>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
	</div>
</section>
{% endblock %}

{% block page_scripts %}
<script src="{% static '/js/main.js' %}"></script>
{% endblock %}