{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-8 mt-3">
	{% if image_exists %}
	<img id="show-image" src="/media/images/{{ show.show_id }}.jpg">
	{% else %}
	<img id="show-image" src="/media/images/default_image.png">
	{% endif %}
	
	<p>Title: {{ show.title }}</p>
	<p>Year: {{ show.release_year }}</p>
	<p>Description: {{ show.description }}</p>
	{% if show.is_movie %}
	<p>Type: Movie</p>
	{% else %}
	<p>Type: TV Show</p>
	{% endif %}
	<p>Duration: {{ show.duration }}</p>
	<p>Rating: {{ show.rating }}</p>
	<p>Category: {% for category in show.category.all %}{{ category }}{% endfor %}</p>
	<p>Country: {% for country in show.country.all %}{{ country }}{% endfor %}</p>

	<form method="POST">
		{% csrf_token %}
		<input type="hidden" name="show_id" value="{{ show.id }}">{{ form|crispy }}
		<button type="submit" class="btn btn-primary btn-block">Like</button>
    </form>
</div>

{% endblock %}