{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-8 mt-3"> 
	<p>Title: {{ show.title }}</p>
	<p>Description: {{ show.description }}</p>
	<p>Year: {{ show.release_year }}</p>
	<img src="media/images/default_image.png" alt="">

	<form method="POST">
		{% csrf_token %}
		<input type="hidden" name="show_id" value="{{ show.id }}">{{ form|crispy }}<button type="submit"
        class="btn btn-primary btn-block">Like</button>
    </form>
</div>

{% endblock %}