{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="col-md-8 mt-3">
	{% if image_exists %}
	<img id="show-image" src="/media/images/{{ show.show_id }}.jpg">
	{% else %}
	<img id="show-image" src="/media/images/default_image.png">
	{% endif %}
	
	<p>Title: {{ show.title }}</p>
	<p>Description: {{ show.description }}</p>
	<p>Year: {{ show.release_year }}</p>
	
	<form method="POST">
		{% csrf_token %}
		<input type="hidden" name="show_id" value="{{ show.id }}">{{ form|crispy }}<button type="submit"
        class="btn btn-primary btn-block">Like</button>
    </form>
    <p></p>
    <form method="GET">
		{% csrf_token %}
		{{ form|crispy }}<button type="submit"
        class="btn btn-primary btn-block">Next</button>
    </form>
</div>

{% endblock %}