{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<form action="{% url 'recommender_friends' %}" method="GET">
  <select name="friend" onchange="this.form.submit();">
    <option>-- Select a Friend --</option>
    {% for friend in user_friends %}
      <option value="{{ friend.id }}">{{ friend }}</option>
    {% endfor %}
  </select>
</form>

<ul class="list-group">
	{% for show in queryset %}
	<a href="{% url 'detail_view' show.id %}">
		<li class="list-group-item">
			{{ show.title }}
			{{ show.release_year }}
		</li>
	</a>
	{% endfor %}
</ul>

{% endblock %}