{%  extends 'base.html' %}
{% block content %}

<h1>Search Shows</h1>
<div id="show-search-bar" class="container">
	<div class="row">
		<div class="col-sm">
			<form action="{% url 'show_search' %}" method="GET">
				<input type="text" name="name" placeholder="Search by title...">
			</form>
		</div>
		<div class="col-sm">
			<form action="{% url 'show_search' %}" method="GET">
				<select name="category" onchange="this.form.submit();">
					<option>-- Category --</option>
					<option value="all">View All</option>
					{% for cat in categories %}
					<option value="{{ cat }}">{{ cat }}</option>
					{% endfor %}
				</select>
			</form>
		</div>
		<div class="col-sm">
			<form action="{% url 'show_search' %}" method="GET">
				<select name="country" onchange="this.form.submit();">
					<option>-- Country --</option>
					<option value="all">View All</option>
					{% for country in countries %}
					<option value="{{ country }}">{{ country }}</option>
					{% endfor %}
				</select>
			</form>
		</div>
	</div>
</div>




<ul class="list-group">
	{% for show in queryset %}
	<a href="{% url 'detail_view' show.id %}">
		<li class="list-group-item">
			{{ show.title }}
			{{ show.release_year }}
		</li>
	</a>
	{% endfor %}
</ul>
{% endblock %}