{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <title>MatchFlix</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a href="{% url 'home' %}" class="navbar-brand" id="navbar-logo">MatchFlix</a>
        {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}" class="navbar-brand" title="Home"><i class="fas fa-home"></i></a>
        <a href="{% url 'show_search' %}" class="navbar-brand" title="Search Shows"><i class="fas fa-search"></i></a>
        <a href="{% url 'random_browse' %}" class="navbar-brand" title="Random Browse"><i class="fas fa-dice"></i></a>
        <a href="{% url 'friend_search' %}" class="navbar-brand" title="Add Friends"><i class="fas fa-user-friends"></i></a>
        <a href="{% url 'recommender_view' %}" class="navbar-brand" title="Get Recommendations"><i class="fas fa-film"></i></a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">

            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{user.name}}</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="{% url 'password_change' %}" class="dropdown-item">Change Password</a>
                        <a href="{% url 'update_profile' %}" class="dropdown-item">Update Profile</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        {% else %}
        <a href="{% url 'login' %}" class="navbar-brand">Login</a>
        <a href="{% url 'register' %}" class="navbar-brand">Register</a>
        {% endif %}
    </nav>

    <main role="main" class="container">
        {% block content %}

        {% endblock %}

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static '/js/main.js' %}"></script>
</body>